.form .form-control{
    background-color:var(--gris-claro);
  }
.caja-boton{
display: flex;
justify-content: center;
}
.btn-enviar{
background-color: var(--color-verde);
color: white;
margin: auto;
}

.rojo{
  color:red;
}