<div class="container-dash">
    <h2>Configuración Administrador Akia</h2>
    <div class="contenedor2">
        <div class="categorias">Categorias
            <img src="../../../../assets/admin/categorias.svg" alt="">
        </div>
        <div class="tiendas">Tiendas
            <img src="../../../../assets/admin/shops.svg" alt="">
        </div>
        <div class="noticias">Noticias
            <img src="../../../../assets/admin/news.svg" alt="">
        </div>
        <div class="productos">Productos
            <img src="../../../../assets/admin/products.svg" alt="">
        </div>
        <div class="otras">Otras configuraciones
            <img src="../../../../assets/admin/settings.svg" alt="">
        </div>
    </div>

</div>
