<div class="container-dash">
    <h2>Configuración Administrador Akia</h2>
    <div class="contenedor2">
        <div class="categorias">Categorias
            <a [routerLink]="['/admin/categories']">
                <img src="../../../../assets/admin/categorias.svg" alt="">
            </a>
        </div>
        <div class="tiendas">Tiendas
            <a [routerLink]="['/admin/shops']">
                <img src="../../../../assets/admin/shops.svg" alt="">
            </a>
        </div>
        <div class="noticias">Noticias
            <a [routerLink]="['/admin/news']">
                <img src="../../../../assets/admin/news.svg" alt="">
            </a>
        </div>
        <div class="productos">Renta Locales y Espacios
            <a [routerLink]="['/admin/rents']">
                <img src="../../../../assets/admin/products.svg" alt="">
            </a>   
        </div>
        <div class="otras">Otras configuraciones
            <img src="../../../../assets/admin/settings.svg" alt="">
        </div>
    </div>

</div>
