<header class="header">
    <nav>
        <input id="nav-toggle" type="checkbox">
        <div class="logo">
            <!-- <img class="img-log-kia"  src="../../../../assets/logo akia-02.png" alt="logo Akia"> -->
            <img class="img-log-kia"  src="../../../../assets/logoAkiaLetras.png" alt="logo Akia">
            <p class="txt-header mobile1">    Cómo llegar</p> 
            <div class="mobile1">
                <img class="facebook" src="../../../../assets/Facebook.png" alt="">
                <img class="instagram" src="../../../../assets/Instagram.png" alt="">
            </div>
        </div>
        <ul class="links">
            <li><a [routerLink]="['/home']">Inicio</a></li>
            <li><a [routerLink]="['/stores']">Tiendas</a></li>
            <li><a [routerLink]="['/terrace']">Terraza</a></li>
            <!-- <li><a href="#projects">Restaurante</a></li> -->
            <!-- <li><a href="#contact">Entretenimiento</a></li> -->
            <li><a [routerLink]="['/news']"> Noticias</a></li>
            <li><a [routerLink]="['/contact']">Contacto</a></li>
            <li><a [routerLink]="['/family-akia']">Familia Akia</a></li>
            <li><a [routerLink]="['/knows']">Conócenos</a></li>

            <!-- DESKTOP -->
            <div class="redes">
                <img class="facebook" src="../../../../assets/Facebook.png" alt="">
                <img class="instagram" src="../../../../assets/Instagram.png" alt="">
            </div>
            <div class="mobile">
                <hr class="hr">
                <br>
                <img class="img-log-kia"  src="../../../../assets/logo akia-02.png" alt="logo Akia">
                <button class="btn boton-mobile">Cómo llegar</button>
                <img class="facebook" src="../../../../assets/Facebook.png" alt="">
                <img class="instagram" src="../../../../assets/Instagram.png" alt="">
            </div>
        </ul>
        
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
    
</header>
