.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    display: block;
    text-align: center;
    background-color: #F7F8E2;
    padding: 5% 10%;
}
.btn-verde{
    background-color: var(--color-verde);
}
.botones{
    display: block;
}
.botones .btn{
    display: block;
    margin:5% auto;
    color: white;
}
::ng-deep.mat-dialog-container {
    background-color: #F7F8E2;
}
.btn a{
    text-decoration: none;
    color: white;
}