<div class="container-familia">

    <h2 class="title">FAMILIA AKIA</h2>
    <div  class="linea">
        <hr>
    </div>
    

    <div class="logo">
        <img src="../../../assets/mobil/cuboAkiaBlanco.svg" alt="">
        <hr>
        <h6>SE PARTE DE LA
            GRAN FAMILIA
            “AKIA”</h6>
    </div>
    <div class="descri">
        <div class="marco">
            <h6>“No esperes el momento preciso en el que el 
                mercado esté listo para invertir. Empieza ahora.
                    El mejor momento para sembrar un roble fue hace
                    20 años.
                    El segundo mejor momento es ahora.”
            </h6>
            <button class="btn btn-contacto">Contáctanos</button>
        </div>
        
    </div>
  
    <div class="title-marcas">
        <h4>SE PARTE DE NUESTRA FAMILIA</h4>
    </div>
    <div class="marcas">
        <img src="../../../assets/marcas/banorte.svg" alt="">
        <img src="../../../assets/marcas/cinepolis.svg" alt="">
        <img src="../../../assets/marcas/cofeetree.svg" alt="">
        <img src="../../../assets/marcas/perro.svg" alt="">
        <img class="spyral" src="../../../assets/marcas/spyral.svg" alt="">
    </div>
 
    <div class="c-verde">
        <img class="cubo1 desktop" src="../../../assets/mobil/cuboAkiaBlanco.svg" alt="">
        <div class="content">
            <h4>Conócenos</h4>
            <p>El Año Nuevo Chino es la festividad más relevante del calendario chino, celebrado en otros países del este de Asia, como Singapur y Corea del Sur. Es conocida igualmente como Fiesta de la Primavera o Año Nuevo Lunar.
                de Asia, como Singapur y Corea del Sur. Es conocida igualmente como Fiesta de la Primavera o Año Nuevo Lunar
            </p>
            <img src="../../../assets/imgTiendaAnoNuevo.svg" alt="">
        </div>        
        <img class="cubo2 desktop" src="../../../assets/mobil/cuboAkiaBlanco.svg" alt="">
    </div>

    <div class="c-gris">
        <div class="marco">
            <img src="../../../assets/logoAkiaLetras2.svg" alt="">
            <p>No solo creamos espacios funcionales, queremos que
                tú les des vida y seas parte de todas y cada una de las
                hitorias de éxito. Te queremos invitar a que seas parte
                de la comunidad Akia, el tiempo es ahora y el momento
                de la transformación está aquí
            </p>
            <hr style="background-color: white;">
        </div> 
    </div>

    <h3 class="title-explora">Explora nuestras instalaciones</h3>

    <div class="cards">
        <div class="card" >
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img" src="../../../assets/cardsFamiliaAkia/espacioRecreativo.svg "alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h4 class="card-title">Espacios Recreativos</h4>
                        <p class="card-text">En Akia queremos aprovechar este 
                            oprtunidad para compartir con nuestros 
                            clientes y aliados...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" >
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img" src="../../../assets/cardsFamiliaAkia/restaurante.svg"alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h4 class="card-title">Terraza</h4>
                        <p class="card-text">En Akia queremos aprovechar este oprtunidad 
                            para compartir con nuestros clientes y aliados...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" >
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img" src="../../../assets/cardsFamiliaAkia/terraza.svg "alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h4 class="card-title">Restaurante</h4>
                        <p class="card-text">En Akia queremos aprovechar este oprtunidad para compartir 
                            con nuestros clientes y aliados...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
