<div class="contenedor-contact">
    <h2 class="title-contact">CONTACTO</h2>
    <div class="logo-contact">
        <div class="marco">
            <img src="../../../assets/mobil/logoPaseoAkia.svg" alt="">
            <p>¿Qué esperas para formar parte de nuestro centro comercial?</p>
        </div>
        
    </div>
    <div class="form-1">
        <div class="marco-2">
            <h3>Renta tu local facilmente</h3>
            <p>Escoge la gorma que mejor se adapte a ti y 
                renta uno de  nuestros locales de la forma más rápida</p>
            <form-info-renta></form-info-renta>
        </div>
        
    </div>
    <div class="form-2">
        <div class="marco-3">
            <h3>¿Quieres hablar con nosotros?</h3>
            <p>Dejanos tus datos y nosotros te contactamos</p>
            <form-habla-con-nosotros></form-habla-con-nosotros>
        </div>
        
    </div>
</div>

