<div class="container-conocenos">
    <h2 class="title">CONÓCENOS</h2>
    <!-- <div class="image"> -->
        <img class="image" src="../../../assets/mapas/mapaH.svg" alt="">
    <!-- </div> -->
        <div class="c-terraza">
            <div class="marco">
                <h4>TERRAZA</h4>
                <hr>
                <p>No solo creamos espacios funcionales, queremos que
                    tú les des vida y seas parte de todas y cada una de las
                    hitorias de éxito. Te queremos invitar a que seas parte
                    de la comunidad Akia, el tiempo es ahora y el momento
                    de la transformación está aquí</p>
            </div>
            
        </div>
        <div class="c-restaurant">
            <div class="marco">
                <h4>RESTAURANT</h4>
                <hr>
                <p>No solo creamos espacios funcionales, queremos que
                    tú les des vida y seas parte de todas y cada una de las
                    hitorias de éxito. Te queremos invitar a que seas parte
                    de la comunidad Akia, el tiempo es ahora y el momento
                    de la transformación está aquí</p>
            </div>
            
        </div>
        <div class="c-tiendas">
            <div class="marco">
                <h4>TIENDAS</h4>
                <hr>
                <p>No solo creamos espacios funcionales, queremos que
                    tú les des vida y seas parte de todas y cada una de las
                    hitorias de éxito. Te queremos invitar a que seas parte
                    de la comunidad Akia, el tiempo es ahora y el momento
                    de la transformación está aquí
                </p>
            </div>
            
        </div>
</div>
