.home{
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap:6px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(auto-fill,auto) 200px ;
    grid-template-areas: 'carrousel carrousel carrousel carrousel carrousel'
                         'carrousel carrousel carrousel carrousel carrousel'
                         'logo        logo      logo     logo       logo'
                         'familia    familia    familia   dere      dere'
                         'familia    familia    familia   dere      dere'
                         'text        text      text     text       text'
                         'tiendas     tiendas   tiendas  tiendas    tiendas'
                         'text2      text2       text2    text2     text2-a'
                         'noticias  noticias    noticias  noticias   noticias';

}

.home h3{
    font-weight: var(--negrita);
}
.home h4{
    font-weight: 600;
    /* color: red; */
}
app-carrousel{
    grid-area:carrousel ;
    /* border: solid red; */
    background-color: rgb(76, 0, 255);
}



.section-initial{
   color: #84BD00;
   grid-area:logo ;
   justify-content: center;
   align-items: center;
   text-align: center;
   position: relative;

}
.boton-ventas{
    background-color: #84BD00;
    color: white;
}
.linea{
    position: absolute;
    color: #84BD00;
    background-color: #84BD00;
    top: 30%;
}
.span-conocenos{
    color: white;
    /* color: #4D574C; */
    display: flex;
    justify-content: space-between;
}
.span-conocenos h4,
.span-conocenos a{
    color: white;
    font-weight: 500;
}


.familia{
    grid-area: familia;
    text-align: left;
    justify-content: left;
    position: relative;
    padding-left: 2em;
    
}
.familia p{
    text-align: left;
}
.dere{
    grid-area: dere;
    padding:1% ;
}
.borde{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 1px #84BD00;
    padding: 4%;
}
.borde p{
    text-align: left;
}
.conocenos{
    color: white;
    padding-right: 40%;
    background-color: #84BD00;
    /* background-color: yellow; */
    min-height:210px ;
    padding-top:12%;
    padding-left: 3%;
}
.img-familia{
    position: absolute;
    right: 0px;
    top: 20%;
}


.text-conoce-tiendas{
    grid-area: text;
    padding-left:2em;
    padding-top: 1em;
}
.galeria-tiendas{
    padding:0 3% 3% 3%;
    grid-area: tiendas;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fill,minmax(140px,auto));
}

.galeria-tiendas img{
    /* width: 100%;
    height: 100%; */
    max-width: 100%;
}

/* HOVER TIENDAS */
.div-imagen {
    position: relative;
    width: 100%;
    /* border: solid blue; */
  }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .div-imagen:hover .image {
    opacity: 0.5;
    /* background-color: rgba(0,0,0,0.9 ); */
  }
  .div-imagen:hover .middle {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .middle .link-gallery a{
      font-weight: var(--negrita);
      text-decoration: none;
      color: var(--color-verde);
  }
/* END HOVER */

.text2{
    padding-left: 2em;
    padding-right: 1em;
    grid-area: text2;
}
.text2-hr{
    grid-area: text2;
    margin-left: 15%;
    width: 100%;
}
.text2-a {
    grid-area: text2-a;
    margin-left: 60%;
    
    /* display: flex; */
}
.text2-a a{
    text-decoration: none;
    color: var(--color-verde);
}
.linea2{
    width: 100%;
    height: auto;
}
.noticias{
    padding: 3%;
    grid-area: noticias;
    display: grid;
    grid-gap: 40px;
    /* grid-template-columns: repeat(auto-fill,minmax(300px,auto)); */
    grid-template-columns: repeat(3,minmax(200px,1fr));
   
}
.noticias img{
    width: 100%;
}
.noticias a{
    text-decoration:none;
    color:var(--color-verde);
}
.noticias .inferior-card{
    display: flex;
    justify-content: space-between;
}


/* RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
    .home{
        grid-template-areas: 'carrousel carrousel carrousel carrousel carrousel'
                         'carrousel carrousel carrousel carrousel carrousel'
                         ' logo        logo      logo     logo      logo'
                         ' familia    familia    familia   familia  familia'
                         ' dere    dere    dere   dere     dere'
                         'text         text      text     text     text'
                         'tiendas      tiendas  tiendas  tiendas  tiendas'
                         'text2        text2       text2     text2-a     text2-a'
                         'noticias  noticias    noticias    noticias    noticias';
    }
    .borde{
        text-align: center;
        display: block;
        border: solid transparent;
        padding-top: 8%;

    }
    .borde .boton-ventas{
        display: block;
        margin: auto;     
    }
    .borde p{
        text-align: center;
        border:solid 1px #84BD00;
    }
    .familia{
        padding-left: 1em;
    }
    .conocenos{
        padding: 0;
        padding-left:5px;
        /* Padding del tamaño de la img familia*/
        /* padding-right: 180px; */
    }
    .conocenos p{
        text-align: left;
        max-width: 40%;
        padding-top: 3%;
    }
    .conocenos h4{
        font-size: 1em;
    }
    .span-conocenos{
        display:block;
        /* background-color: red; */
        
    }
    .span-conocenos a{
        margin-left: 30%;
    }

    .text2{
        grid-area: text2;
    }               
    .text2-hr{
        width: 0px;
        display: none;
    }
    .text2-a{
        margin-left: 0px;
        grid-area: text2-a;
        display: flex;
        justify-content: left;
        text-align: left;
        align-items: center;
        padding-right: 20%;
        width: 100%;
    } 
    .text2-a a{
        display: block;
        text-align: left;
        justify-content: left;
        margin: 0 i !important;
        
    }
    .noticias{
        grid-template-columns: repeat(auto-fill,minmax(200px,auto));
    }
    /*INVERTIR SENTIDO CARD 
    .noticias .card{
        border: solid red;
        display: -webkit-box;
    } */
  
}