<!-- <article class="articulo destacado">
    <div class="contenedor-texto">
        <div>
            <h2 class="titulo"><a href="#">Título del artículo más destacado</a></h2>
            <p class="fecha">
                <time>Noviembre 13, 2019</time>
            </p> 
        </div>
        <p class="extracto">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt illo possimus atque fuga harum consequuntur reprehenderit, asperiores aperiam commodi, repellat deserunt odio repellendus iste recusandae vitae officiis rem eaque esse!
        </p>
        <a href="#" class="btn-link">Leer más</a>
    </div>
    <div class="contenedor-thumbnail">
        <a href="#">
            <img src="./img/img-01.jpg" alt="" />
        </a>
    </div>
</article>

<main class="contenido">
    <article class="articulo">
        <div class="contenedor-thumbnail">
            <a href="#"><img src="./img/img-02.jpg" alt="" /></a>
        </div>
        <div class="contenedor-texto">
            <div>
                <h2 class="titulo">
                    <a href="#">Título del artículo más destacado</a>
                </h2>
                <p class="fecha">
                    <time>Noviembre 13, 2019</time>
                </p>
            </div>
            <p class="extracto">
                Lorem ipsum, dolor sit amet coknsectetur
                adipisicing elit. Cupiditate, autem animi.
            </p>
            <a href="#" class="btn-link">Leer más</a>
        </div>
    </article>

    <article class="articulo">
        <div class="contenedor-thumbnail">
            <a href="#"><img src="./img/img-03.jpg" alt="" /></a>
        </div>
        <div class="contenedor-texto">
            <div>
                <h2 class="titulo">
                    <a href="#">Título del artículo más destacado</a>
                </h2>
                <p class="fecha">
                    <time>Noviembre 13, 2019</time>
                </p>
            </div>
            <p class="extracto">
                Lorem ipsum, dolor sit amet coknsectetur
                adipisicing elit. Cupiditate, autem animi.
            </p>
            <a href="#" class="btn-link">Leer más</a>
        </div>
    </article>

    <article class="articulo">
        <div class="contenedor-thumbnail">
            <a href="#"><img src="./img/img-04.jpg" alt="" /></a>
        </div>
        <div class="contenedor-texto">
            <div>
                <h2 class="titulo">
                    <a href="#">Título del artículo más destacado</a>
                </h2>
                <p class="fecha">
                    <time>Noviembre 13, 2019</time>
                </p>
            </div>
            <p class="extracto">
                Lorem ipsum, dolor sit amet coknsectetur
                adipisicing elit. Cupiditate, autem animi.
            </p>
            <a href="#" class="btn-link">Leer más</a>
        </div>
    </article>
</main>

<aside class="sidebar">
    <div class="acerca-de">
        <img src="./img/foto.jpg" class="img-perfil" alt="" />

        <div class="bio">
            <p class="titulo">¡Hola!</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Impedit quae tenetur veritatis esse aperiam?
            </p>
        </div>
    </div>
    <nav class="menu">
        <a href="#">Acerca de</a>
        <a href="#">Portafolio</a>
        <a href="#">Contacto</a>
    </nav>
</aside> -->
<div class="home">
    <app-carrousel></app-carrousel>
    <div class="section-initial desktop">
        <img class="img-log-kia"  src="../../../../assets/logo akia-02.png" alt="logo Akia">
        <hr style="width: 100%;" class="linea">
    </div>
    
    <div class="familia">
        <b><h3 class="font-weight: 900;">Familia Akia</h3></b> 
        <div class="conocenos">
            <p>No solo creamos espacios funcionales,
                queremos que tú les des vida y seas parte de todas 
                y cada una de las historias de éxito.
            </p>
            <span class="span-conocenos" >
                <h4> Cónocenos</h4>
                <a class="color-2" href=""><i class="fas fa-arrow-right"></i></a>
            </span>
        </div>
        <img class="img-familia" src="../../../assets/imgFamilia.png" alt="">
    </div>

    <div class="dere">
        <div class="borde">
            <p>Paseo Akia es una propuesta funcional e inteligente que propone momentos 
                de recreación, convivencia en familia, con amigos, seres queridos.
            </p>
            <div class="dere-logo">
                <img src="../../../assets/mobil/logoPaseoAkia.png" alt="">
                <button class="btn boton-ventas">Contactar a ventas</button>
            </div>
        </div>
        
    </div>
    
    
    <div class="text-conoce-tiendas">
        <h3>Conoce nuestras tiendas</h3>
        <p>Contamos con una gran cantidad de aliados comerciales</p>

        
    </div>
    <div class="galeria-tiendas">
        <!--NgFor Aca  -->
        <div *ngFor="let shop of shops" class="div-imagen">
         
            <img class="image" [src]=shop.img>
            <div class="middle">
                <div class="link-gallery">
                    <a class="" href="https://css-tricks.com/snippets/sass/black-white-opacity-mixins/">
                        {{shop.name}}
                        <i class="fas fa-arrow-right"></i>
                    </a> 
                </div>
            </div>
        </div>
        <!-- <div class="div-imagen">
            <img class="image" src="../../../assets/tiendaZara.png" alt="">
            <div class="middle">
                <div class="link-gallery">
                    <a class="" href="https://css-tricks.com/snippets/sass/black-white-opacity-mixins/">
                        Ver Mas 
                        <i class="fas fa-arrow-right"></i>
                    </a> 
                </div>
            </div>
        </div>
        <div class="div-imagen">
            <img class="image" src="../../../assets/tiendaJuanV.png" alt="">
            <div class="middle">
                <div class="link-gallery">
                    <a class="" href="https://css-tricks.com/snippets/sass/black-white-opacity-mixins/">
                        Ver Mas 
                        <i class="fas fa-arrow-right"></i>
                    </a> 
                </div>
            </div>
        </div>
        <div class="div-imagen">
            <img class="image" src="../../../assets/tiendaJuanV.png" alt="">
            <div class="middle">
                <div class="link-gallery">
                    <a class="" href="https://css-tricks.com/snippets/sass/black-white-opacity-mixins/">
                        Ver Mas 
                        <i class="fas fa-arrow-right"></i>
                    </a> 
                </div>
            </div>
        </div>
        <div class="div-imagen">
            <img class="image" src="../../../assets/tiendaZara.png" alt="">
            <div class="middle">
                <div class="link-gallery">
                    <a class="" href="https://css-tricks.com/snippets/sass/black-white-opacity-mixins/">
                        Ver Mas 
                        <i class="fas fa-arrow-right"></i>
                    </a> 
                </div>
            </div>
        </div>
        <div class="div-imagen">
            <img class="image" src="../../../assets/tiendaJuanV.png" alt="">
            <div class="middle">
                <div class="link-gallery">
                    <a class="" href="https://css-tricks.com/snippets/sass/black-white-opacity-mixins/">
                        Ver Mas 
                        <i class="fas fa-arrow-right"></i>
                    </a> 
                </div>
            </div>
        </div>
        <div class="div-imagen">
            <img class="image" src="../../../assets/tiendaZara.png" alt="">
            <div class="middle">
                <div class="link-gallery">
                    <a class="" href="https://css-tricks.com/snippets/sass/black-white-opacity-mixins/">
                        Ver Mas 
                        <i class="fas fa-arrow-right"></i>
                    </a> 
                </div>
            </div>
        </div>
        <div class="div-imagen">
            <img class="image" src="../../../assets/tiendaJuanV.png" alt="">
            <div class="middle">
                <div class="link-gallery">
                    <a class="" href="https://css-tricks.com/snippets/sass/black-white-opacity-mixins/">
                        Ver Mas 
                        <i class="fas fa-arrow-right"></i>
                    </a> 
                </div>
            </div>
        </div> -->
    </div>
    
    <div class="text2">
        <h3>Noticias </h3>  
    </div>
    <div class="text2-hr">
        <hr class="linea2">
    </div>
    <div class="text2-a">
        <a href="#">Ver todas</a>
    </div>
    <div class="noticias">
        <div *ngFor="let new of news" class="noti">
            <div class="card" >
                <img class="card-img-top" [src]=new.img alt="">
                <div class="card-body">
                    <h4>{{new.title}}</h4>  
                    <p class="card-text">{{new.description}}</p>
                      
                </div>
                <div class="inferior-card">
                    <span>{{new.date}}</span>
                    <a href="">Seguir Leyendo</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
