<!-- <article class="articulo destacado">
    <div class="contenedor-texto">
        <div>
            <h2 class="titulo"><a href="#">Título del artículo más destacado</a></h2>
            <p class="fecha">
                <time>Noviembre 13, 2019</time>
            </p> 
        </div>
        <p class="extracto">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt illo possimus atque fuga harum consequuntur reprehenderit, asperiores aperiam commodi, repellat deserunt odio repellendus iste recusandae vitae officiis rem eaque esse!
        </p>
        <a href="#" class="btn-link">Leer más</a>
    </div>
    <div class="contenedor-thumbnail">
        <a href="#">
            <img src="./img/img-01.jpg" alt="" />
        </a>
    </div>
</article>

<main class="contenido">
    <article class="articulo">
        <div class="contenedor-thumbnail">
            <a href="#"><img src="./img/img-02.jpg" alt="" /></a>
        </div>
        <div class="contenedor-texto">
            <div>
                <h2 class="titulo">
                    <a href="#">Título del artículo más destacado</a>
                </h2>
                <p class="fecha">
                    <time>Noviembre 13, 2019</time>
                </p>
            </div>
            <p class="extracto">
                Lorem ipsum, dolor sit amet coknsectetur
                adipisicing elit. Cupiditate, autem animi.
            </p>
            <a href="#" class="btn-link">Leer más</a>
        </div>
    </article>

    <article class="articulo">
        <div class="contenedor-thumbnail">
            <a href="#"><img src="./img/img-03.jpg" alt="" /></a>
        </div>
        <div class="contenedor-texto">
            <div>
                <h2 class="titulo">
                    <a href="#">Título del artículo más destacado</a>
                </h2>
                <p class="fecha">
                    <time>Noviembre 13, 2019</time>
                </p>
            </div>
            <p class="extracto">
                Lorem ipsum, dolor sit amet coknsectetur
                adipisicing elit. Cupiditate, autem animi.
            </p>
            <a href="#" class="btn-link">Leer más</a>
        </div>
    </article>

    <article class="articulo">
        <div class="contenedor-thumbnail">
            <a href="#"><img src="./img/img-04.jpg" alt="" /></a>
        </div>
        <div class="contenedor-texto">
            <div>
                <h2 class="titulo">
                    <a href="#">Título del artículo más destacado</a>
                </h2>
                <p class="fecha">
                    <time>Noviembre 13, 2019</time>
                </p>
            </div>
            <p class="extracto">
                Lorem ipsum, dolor sit amet coknsectetur
                adipisicing elit. Cupiditate, autem animi.
            </p>
            <a href="#" class="btn-link">Leer más</a>
        </div>
    </article>
</main>

<aside class="sidebar">
    <div class="acerca-de">
        <img src="./img/foto.jpg" class="img-perfil" alt="" />

        <div class="bio">
            <p class="titulo">¡Hola!</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Impedit quae tenetur veritatis esse aperiam?
            </p>
        </div>
    </div>
    <nav class="menu">
        <a href="#">Acerca de</a>
        <a href="#">Portafolio</a>
        <a href="#">Contacto</a>
    </nav>
</aside> -->
<div class="home">
    <app-carrousel></app-carrousel>
</div>
