.home{
    width: 100%;
    /* height: 800px; */
    display: grid;
    grid-gap:6px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(auto-fill,auto) 200px ;
    grid-template-areas: 'carrousel carrousel carrousel carrousel carrousel'
                         'carrousel carrousel carrousel carrousel carrousel'
                         'logo        logo      logo     logo      logo'
                         'familia    familia    familia   dere     dere'
                         'familia    familia    familia   dere     dere'
                         'text        text      text     text     text'
                         'tiendas     tiendas   tiendas  tiendas  tiendas'
                         'text2       text2      text2     text2     text2'
                         'noticias  noticias    noticias    noticias    noticias';

}

.home h3{
    font-weight: var(--negrita);
}
.home h4{
    font-weight: 600;
    /* color: red; */
}
app-carrousel{
    grid-area:carrousel ;
    /* border: solid red; */
    background-color: rgb(76, 0, 255);
}



.section-initial{
   color: #84BD00;
   grid-area:logo ;
   justify-content: center;
   align-items: center;
   text-align: center;
   position: relative;

}
.boton-ventas{
    background-color: #84BD00;
    color: white;
}
.linea{
    position: absolute;
    color: #84BD00;
    background-color: #84BD00;
    top: 30%;
}
.span-conocenos{
    color: white;
    /* color: #4D574C; */
    display: flex;
    justify-content: space-between;
}
.span-conocenos h4,
.span-conocenos a{
    color: white;
    font-weight: 500;
}


.familia{
    grid-area: familia;
    text-align: left;
    justify-content: left;
    position: relative;
    padding-left: 6%;
    
}
.familia p{
    text-align: left;
}
.dere{
    grid-area: dere;
    padding:1% ;
}
.borde{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 1px #84BD00;
    padding: 4%;
}
.borde p{
    text-align: left;
}
.conocenos{
    color: white;
    padding-right: 40%;
    background-color: #84BD00;
    /* background-color: yellow; */
    min-height:210px ;
    padding-top:12%;
    padding-left: 3%;

    /* background-color: red; */
}
.img-familia{
    position: absolute;
    right: 0px;
    top: 20%;
}




.text-conoce-tiendas{
    grid-area: text;
    padding-left: 3%;
    padding-top: 2%;
}
.galeria-tiendas{
    padding:0 3% 3% 3%;
    grid-area: tiendas;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fill,minmax(140px,auto));
}

.one{
    /* background-color: bisque; */
}
.dos{
    /* background-color: aquamarine; */
}
.galeria-tiendas img{
    width: 100%;
    height: 100%;
}
.text-2{
    padding-left: 3%;
    grid-area: text2;
    display: inline;
}

.noticias{
    padding: 3%;
    grid-area: noticias;
    display: grid;
    grid-gap: 40px;
    /* grid-template-columns: repeat(auto-fill,minmax(300px,auto)); */
    grid-template-columns: repeat(3,minmax(200px,1fr));
   
}
.noticias img{
    width: 100%;
}
.noticias a{
    text-decoration:none;
    color:var(--color-verde);
}
.noticias .inferior-card{
    display: flex;
    justify-content: space-between;
}


/* RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
    .home{
        grid-template-areas: 'carrousel carrousel carrousel carrousel carrousel'
                         'carrousel carrousel carrousel carrousel carrousel'
                         ' logo        logo      logo     logo      logo'
                         ' familia    familia    familia   familia  familia'
                         ' dere    dere    dere   dere     dere'
                         'text         text      text     text     text'
                         'tiendas      tiendas  tiendas  tiendas  tiendas'
                         'text2        text2       text2     text2     text2'
                         'noticias  noticias    noticias    noticias    noticias';
    }
    .borde{
        text-align: center;
        display: block;
        border: solid transparent;
        padding-top: 8%;

    }
    .borde .boton-ventas{
        display: block;
        margin: auto;     
    }
    .borde p{
        text-align: center;
        border:solid 1px #84BD00;
    }
    .conocenos{
        padding: 0;
        padding-left: 4px;
    }
    .conocenos p{
        text-align: left;
        width: 90%;
    }
    .conocenos{
        padding-right: 50%;
    }

    .noticias{
        grid-template-columns: repeat(auto-fill,minmax(300px,auto));
    }
    /*INVERTIR SENTIDO CARD 
    .noticias .card{
        border: solid red;
        display: -webkit-box;
    } */
  
}