<div class="tiendas-container">
    
    <!-- <div> -->
     <app-carrousel
     [section]="tiendasInputCarrousel"
     [title]="'Arquitectura que impresionará tus sentidos'">
    </app-carrousel>
    <!-- </div> -->

    <div class="desktop categorias-side">
        <h4>Categorias</h4>
        <a (click)="setShops()">-Todas- </a>
        <a *ngFor="let category of categories" (click)="setShopsCategory(category.id)" >{{category.name}}</a>
    </div>

    <div pageScroll  id="arriba" class="buscador">
        <h3 class="title-tiendas" #section1 >Tiendas de Akia</h3>
        <div class="input-group mb-3 caja-input">
            <input type="text" class="form-control" placeholder="Nombre de tienda" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button" id="button-addon2">Buscar</button>
            </div>
        </div>
    </div>

    <div  class="galeria-tiendas">
        <div *ngFor="let item of shops | paginate:page_size:page_number" class="div-imagen">
            <img class="image" [src]="rutaImagesShops+item.image" alt="">
            <div class="vl"></div>
            <h5>{{item.name}}</h5>
            <div class="middle">
                <div class="link-gallery">
                    <a class="" (click)="showShop(item.id)">
                        {{item.name}} 
                        <i class="fas fa-arrow-right"></i>
                    </a> 
                </div>
            </div>
        </div>



    
    </div>
    
    <div class="paginador">
        <mat-paginator 
                [length]="shops.length"
                [pageSize]="page_size"
                [pageSizeOptions]="pageSizeOptions"
                (page)="handlePage($event)">
        </mat-paginator>
    </div>

    <div class="mobile">
        <app-floating-menu 
        [position]="positionCategoriasMenu" 
        [top]="topCategorias"
        [categories]="categories"
        (propagar)="recibirShopsMenuMobile($event)">
        </app-floating-menu>
    </div>

    <div style="width: 100%;" class="desktop line">
        <hr>
    </div>
    <div class="formulario">
        <div class="form">
            <h5>Renta un local con nosotros o solicita información</h5>  
            <form-info-renta></form-info-renta>
        </div>
        
        <div class="image-form">
            <img src="../../../assets/imgFormTiendas.png" alt="">
        </div>
    </div>
</div>


