<div class="tiendas-container">
    
    <!-- <div> -->
     <app-carrousel></app-carrousel>
    <!-- </div> -->

    <div class="desktop categorias-side">
        <h4>Categorias</h4>
        <a [routerLink]="['/stores']">Belleza</a>
        <a href="">Salud</a>
        <a href="">Estudio</a>
        <a href="">Otrp</a>
        <a href="">Otra</a>
    </div>

    <div pageScroll  id="arriba" class="buscador">
        <h3 class="title-tiendas" #section1 >Tiendas de Akia</h3>
        <div class="input-group mb-3 caja-input">
            <input type="text" class="form-control" placeholder="Nombre de tienda" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button" id="button-addon2">Buscar</button>
            </div>
        </div>
    </div>

    <div  class="galeria-tiendas">
        <div *ngFor="let item of shops | paginate:page_size:page_number" class="div-imagen">
            <img class="image" [src]="item.img" alt="">
            <div class="middle">
                <div class="link-gallery">
                    <a class="" href="https://css-tricks.com/snippets/sass/black-white-opacity-mixins/">
                        {{item.name}} 
                        <i class="fas fa-arrow-right"></i>
                    </a> 
                </div>
            </div>
        </div>



    
    </div>

    <!-- <div class="card text-center m-3"> -->
     
<!-- <div class="card-footer pb-0 pt-3"> -->
    <!-- vincular este items con la lista de tiendas -->
    <div class="paginador">
        <mat-paginator 
                [length]="shops.length"
                [pageSize]="page_size"
                [pageSizeOptions]="pageSizeOptions"
                (page)="handlePage($event)">
        </mat-paginator>

        <!-- <jw-pagination [items]="shops" [pageSize]=12 (changePage)="onChangePage($event)"></jw-pagination> -->
    </div>
<!-- </div> -->

    <div class="mobile">
        <app-floating-menu></app-floating-menu>
    </div>

    <div class="formulario">
        <div class="form">
            <h5>Renta un local con nosotros o solicita información</h5>  
            <form-info-renta></form-info-renta>
        </div>
        
        <div class="image-form">
            <img src="../../../assets/imgFormTiendas.png" alt="">
        </div>
    </div>
    <!-- <div class="step-section" [ngClass]="{'active': activeSection === 1}" pageScroll
    (click)="fullPageScroll(section1, 1)">
    subir
  </div> -->
</div>


