<input type="checkbox" class="checkbox" id="check">
<label class="menu" for="check">
    <!-- C<br>a<br>t<br>e<br>g<br>o<br>r<br>i<br>a<br>s -->
    <div *ngFor="let item of letersTitle">
        {{item}} <br>
    </div>
</label>
<div class="left-panel">
    <ul>
        
        <a  href="">
            <li *ngFor="let cat of categorias">
                {{cat}}
            </li>
        </a>    
        <!-- <a href=""><li>cursos</li></a>    
        <a href=""><li>blog</li></a>  
        <a href=""><li>devcode</li></a>    
        <a href=""><li>cursos</li></a>    
        <a href=""><li>blog</li></a>  
        <a href=""><li>devcode</li></a>    
        <a href=""><li>cursos</li></a>    
        <a href=""><li>blog</li></a>  
        <a href=""><li>devcode</li></a>    
        <a href=""><li>cursos</li></a>    
        <a href=""><li>blog</li></a>  
        <a href=""><li>devcode</li></a>    
        <a href=""><li>cursos</li></a>    
        <a href=""><li>blog</li></a>     -->
    </ul>
</div>

