.noticias-container{
    padding-left: 2em;
    padding-right: 2em;
    display: grid;
    /* background-color: brown; */
    /* grid-gap:9px; */
    padding: 0px;
    grid-template-columns: 250px repeat(3,1fr);
    grid-template-rows: repeat(auto-fill,auto);
    grid-template-areas: 
                         "banner      banner    banner      banner" 
                         "categorias  buscador   buscador   buscador"
                         "categorias  galeria    galeria    galeria"
                         "categorias  galeria    galeria    galeria"
                         "categorias   paginador  paginador  paginador";
}
.mobile{
  visibility: hidden;
}
/* app-carrousel{
  grid-area: banner;
} */
.banner{
    grid-area: banner;
}
.banner img{
    max-width: 100%;
    width: 100%;
    height: 400px;
}
.title-noticias{
  padding-top: 5%;
  padding-bottom:1% ;
  font-weight: bold;
}
.categorias-side{
    grid-area: categorias;
    padding-top: 40%;
    padding-left: 10%;
    padding-right: 10%;
    /* background-color: yellow; */
    justify-content: center;
    text-align: left;
}
.categorias-side a{
  text-decoration: none;
  color: var(--gris-oscuro);
  display: block;
  font-size: 1.4em;
  cursor: pointer;
}
.categorias-side a:hover{
  background-color: var(--gris-claro);
  background: rgba(132, 189, 0, 0.1);
}
.buscador{
    grid-area: buscador;
    padding-top: 1%;
    padding-right: 5%;
}
/*  Noticias */
.g-noticias{
  padding: 3% 5% 3%  0.5% ;
  grid-area: galeria;
  display: grid;
  /* grid-column-gap: 12%;
  grid-row-gap: 2%; */
  grid-gap: 2%;
  /* grid-template-columns: repeat(auto-fill,minmax(300px,auto)); */
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.card-body h4{
  font-family: 'Montserrat' !important;
}
.g-noticias .card{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 35% minmax(auto,55%) auto; */
  grid-template-rows :200px auto 0px ;
  
  /* border:solid red; */
}
.g-noticias .card-img-top{
  width: 100%;
  height: 100%;
  /* border:solid blue; */
}
.noticias img{
  width: 100%;
}
.g-noticias img:hover{
  filter: opacity(0.9);
  transform: scale(1.04);
}
.g-noticias a{
  text-decoration:none;
  color:var(--color-verde);
}
.g-noticias .card-body{
  padding: 4%;
  padding-top: 5%;
  height: 100%;
  /* border: solid green; */
}
.card-body p{
  text-align: justify;
}
.g-noticias .inferior-card{
  padding:2%;
  display: flex;
  justify-content: space-between;
  /* border:solid yellow; */
}
.g-noticias .inferior-card a{
  margin-bottom: 0px;
}


/* ESTILOS PAGINACION */
.paginador{
    display: flex;
    justify-content: center;
    text-align: center;
    grid-area: paginador;
    padding: 5%;
    padding-top:2%;
}
:host ::ng-deep.mat-paginator {
  /* color:white; */
  font-size: 1em;
}
:host ::ng-deep.mat-paginator .mat-paginator-page-size-label {
  /* color: white; */
}
:host ::ng-deep.mat-paginator .mat-paginator-container{
  justify-content: flex-start;
  background-color: var(--gris-claro);
  border-radius: 5px;
  height: 50px;
}
:host ::ng-deep.mat-paginator .mat-form-field-wrapper{
  /* color: yellow; */
}
/* END ESTILOS PAGINACION */




/* RESPONSIVE */
@media screen and (max-width: 768px) {
    
  .desktop{
      display: none;
  }
  .mobile{
    padding-left: 3%;
    visibility: visible;
  }
  .buscador{
    padding: 0px;
  }
  .g-noticias{
    
  }
  :host ::ng-deep.mat-paginator .mat-paginator-container{
    height: 15px;
  }
  .noticias-container{
    grid-template-areas:
                        "buscador  buscador   buscador   buscador"
                         "galeria  galeria    galeria    galeria"
                         "galeria  galeria    galeria    galeria"
                         "galeria  galeria    galeria    galeria"
                         "paginador   paginador  paginador  paginador";
     grid-template-columns: 1fr;   
     grid-template-rows: repeat(auto-fill,1fr) ;                 
  } 

  .noticias-container{
      padding: 2%;
  }

  .g-noticias{
    grid-area: galeria;
    display: grid;
    grid-gap: 2%;
    grid-row-gap:1% ;
    /* grid-template-columns: repeat(auto-fill,minmax(300px,auto)); */
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-auto-rows: minmax(300px, auto);
    padding: 0 2% 0% 2%;

  }
  .g-noticias .card{
    /* height: 100%; */
    grid-template-rows :150px 200px 10px ;
    /* border: solid rgb(194, 19, 77); */
    /* grid-template-rows: repeat(3,30% 35% 50px); */
  }
  .card-img-top{
    height: 150px;
  }
  .g-noticias .card-body{
    /* height: 100%; */
    padding: 2%;
    /* background-color: aqua; */
  }
  .g-noticias .inferior-card{
    padding: 2%;
  }
  :host ::ng-deep.mat-paginator .mat-paginator-container{
      height: auto;
  }
  .paginador{
    margin-top: 2%;
    padding: 0 2% 0% 2%;
  }
}


app-floating-menu .left-panel{
  border: solid red !important;
}