<div class="noticias-container">
    
    <div class="banner desktop">
        <img src="../../../assets/bannerNoticias.png" alt="">
    </div>
     <!-- <app-carrousel></app-carrousel> -->

    <div class="desktop categorias-side">
        <h4>Categorias</h4>
        <a (click)="setAllNews()">-Todas-</a>
        <a *ngFor="let cat of categories" (click)="setNewsCategory(cat.id)" >{{cat.name}}</a>
    </div>

    <div class="mobile">
        <h3 class="title-noticias" >Noticias</h3>
        <p>Descubre lo que pasa en tú centro comercial favorito</p>
    </div>
    <div  id="arriba" class="buscador desktop">
        <h3 class="title-noticias" >Noticias</h3>
        <div class="input-group mb-3 caja-input">
            <input type="text" class="form-control" placeholder="Nombre de tienda" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button" id="button-addon2">Buscar</button>
            </div>
        </div>
    </div>

    <div  class="g-noticias">
            <div *ngFor="let item of news | paginate:page_size:page_number" class="noti">
                <div class="card" >
                    <img class="card-img-top" [src]="rutaImagesNews+item.image" alt="">
                    <div class="card-body">
                        <h4>{{item.title}}</h4>  
                        <p class="card-text">  {{item.description | substring:0:110}}</p>
                    </div>
                    <div class="inferior-card">
                        <span>{{item.created_at| date}}</span>
                        <a [routerLink]="['/show/new']" [queryParams]="{id_new: item.id}">Seguir Leyendo</a>
                    </div>
                </div>
            </div>
    </div>    
    <!-- <div class="card text-center m-3"> -->
     
<!-- <div class="card-footer pb-0 pt-3"> -->
    <!-- vincular este items con la lista de tiendas -->
    <div class="paginador">
        <mat-paginator 
                [length]="news.length"
                [pageSize]="page_size"
                [pageSizeOptions]="pageSizeOptions"
                (page)="handlePage($event)">
        </mat-paginator>
    </div>
<!-- </div> -->

    <div class="mobile">
        <app-floating-menu 
        [position]="positionCategoriasMenu" 
        [top]="topCategorias"
        [categories]="categories"
        (propagar2)="recibirNewsMenuMobile($event)">
        </app-floating-menu>
        <!--     -->
    </div>



</div>



