.container-new{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1% 30%;
}
.subtitulo{
    padding-top: 5%;
    padding-bottom: 5%;
}
.date{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
.image{
    text-align: center;
}
.image img{
    max-width: 100%;
    /* width: 100%;
    height: auto; */
    
}
.description{
    padding: 5% 0;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .container-new{
        padding: 4%;
    }
    .description{
       text-align: center;
    }
}