.contenedor-terraza{
    display: grid;
    /* grid-gap: 10px; */
    padding-top: 3%;
    padding-left:4%;
    padding-right:4% ;
    /* background-color: aquamarine; */
    grid-template-columns: repeat(5,1fr);
    /* grid-template-rows: repeat(auto-fill,auto); */
    grid-template-areas: "title    title       tab       tab       tab"
                        "imagen    imagen     imagen   recuadro  recuadro"
                        "cuadro     cuadro      cuadro     cuadro    cuadro"
                        "title-g   title-g   title-g   title-g   title-g "
                        "galeria   galeria  galeria   galeria     galeria"
                        "descri     descri    descri    descri      descri"
                        "title-map title-map  title-map title-map   title-map"
                        "text-map   text-map    mapa      mapa       mapa";
}

.title{
    grid-area: title;
    font-weight: 500;
}
.tabs{
    color:var(--gris-oscuro);
    grid-area: tab;
    display: flex;
    justify-content: space-around;
    position: relative;
    /* background-color: red; */
}
.tabs a{
    text-decoration: none;
    color:var(--gris-oscuro);
    
}
.tabs a:hover{
    color: var(--color-verde);
    cursor: pointer
}
.tabs .linea-hr{
    position: absolute;
    display: block;
    width: 100%;
    top: 10px;
}

.image-terraza{
    grid-area: imagen;
    /* arriba derecha abajo izquierd */
    padding:  5% 5% 5% 0;
    position: relative;
}
.iconoVerde{
    position: absolute;
    bottom:24px;
    left: 10%;
}
.iconoVerde img{
    max-width: 100%;
}
.iconoLinea{
    position: absolute;
    bottom:-40px;
    left: 18%;
}
.image-terraza img{
    max-width: 100%;
}
.cuadro-text{
    grid-area: recuadro;
    padding: 5%;
    padding-left:20% ;
    padding-right:20% ;
    /* background-color: yellowgreen; */
}
.enmarque{
    /* background-color: red; */
    text-align: center;
    border: solid 1px var(--gris-oscuro);
    padding: 5%;
    padding-left:9% ;
    padding-right:9% ;
}



/* PASOS  */
.seccion p{
    width: 100%;
    text-align: center;
    padding: 20px;    
    border: solid 1px;
    margin-bottom: 2em;
    font-weight: 600;
}
.catering{
    background-color: var(--gris-claro);
    border: 1px solid #4D574C;
    box-sizing: border-box;
}
.vigilancia{
    border: 1px solid #4D574C;
    box-sizing: border-box;
}
.estacionamiento{
    background-color: var(--color-verde);
}
.asistencia{
    color: white;
    background-color:  var(--gris-oscuro);
} 
/* End pasos */

/* SECCION PASOS E IMAGEN */
.seccion{
    justify-content: center;
    text-align: center;
    grid-area: cuadro;
    /* background-color: yellow; */
    padding-top: 40px;
    width: 100%;
}
.otro{
    width: 100%;
    margin: auto;
    border: solid 1px;display: flex;
    justify-content: space-between;
    padding: 4%;
    padding-left: 10%;
    padding-right:10% ;
}
.seccion .box-pasos{
    /* background-color: red; */
    /* grid-area: cuadro; */
}
.seccion .box-amenidad{
    /* background-color: blue; */
    position: relative;
    /* grid-area: cuadro; */
}
.box-img-amenidad img{
    max-width: 100%;
}
.txt-amenidades{
    width: 70%;
    padding: 11px;
    color: white;
    margin: 0 auto !important;
    background-color: var(--color-verde);
    position: absolute;
    top:-5%;
    left: 16%;
}


.txt-amenidades h5{
    font-weight: 600;
}
.img-logoPaseoAkia{
    position: absolute;
    top: 49%;
    left: 38%;
} 
.img-logoPaseoAkia img{
    max-width: 100%;
}



/* GALERIA */
.seccion-galeria{
    background-color: peru;
}
.title-galeria{
    grid-area: title-g;
    /* background-color: red; */
    display: flex;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 1%;
}
.galery{
    /* padding-left:10% ;
    padding-right:10% ; */
    /* height: 500px; */
    /* padding: 5%; */
    padding-left:4% ;
    padding-right:4% ;
    grid-area: galeria;
    grid-gap: 12px;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    padding: 20px;
    grid-auto-flow: row dense;
    width: 90%;
    /* border: solid red ; */
    margin: auto;
}
.galery > div{}
.galery img{
    max-width: 100%;
     /* width: 100%;
    height: 100%;
    object-fit: cover; */
}
.galery .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }
.galery .uno{
    background-image: url('../../../assets/gal-1.png');
    grid-column: span 3;
    grid-row: span 3;
}
.galery .dos{
    background-image: url('../../../assets/gal-2.png');
    grid-column: span 2;
}
.galery .tres {
    background-image: url('../../../assets/gal-3.png');
    grid-column: span 1;
    grid-row: span 1;
}
.galery .cuatro{
    background-image: url('../../../assets/gal-4.png');
    grid-row: span 2;
    
}
.galery .cinco{
    background-image: url('../../../assets/gal-5.png');
    grid-column: span 2;
    
}
.galery .seis{
    background-image: url('../../../assets/gal-6.png');
    grid-column: span 2;
    grid-row: span 1;
}

.box-descri{
    /* border: solid blue;; */
    padding: 2%;
    padding-left:22% ;
    padding-right:22% ;
    grid-area: descri;
    text-align: center;
}
.descripcion{
    padding: 2%;
    border: solid 1px;
    background-color: var(--gris-claro);
}

.title-map{
    grid-area: title-map;
    padding: 2% 0;
}
.map{
    padding-bottom: 20px;
    grid-area: mapa;
    font-weight: 500;
}
.box-ubicacion{
    padding-bottom: 20px;
    grid-area: text-map;
    text-align: center;
    padding-left:10% ;
    padding-right:10%;
}
.text-ubicacion{
    color:white;
    height: 100%;
    padding: 2%;
    padding-left:6% ;
    padding-right:6%;
    background-color: var(--gris-oscuro);
}
.text-ubicacion p{
    padding: 5%;
}
agm-map {
    height: 100%;
}




/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .map{
        height: 400px;
    }
    .contenedor-terraza{
        grid-template-columns:1fr 1fr;
        grid-template-areas: 
        "title    title     "
        "tab       tab      "
        "imagen    imagen     "
        "recuadro  recuadro     "
        "cuadro     cuadro     "
        "cuadro     cuadro      "
        "title-g   title-g    "
        "galeria   galeria    "
        
        "descri     descri     "
        "title-map title-map   "
        "text-map   text-map   "
        "mapa       mapa        ";
    }
    .title{
        padding: 5%;
        text-align: center;
    }
    .otro{
        border: 0px;
        display: block;
    }
    .img-logoPaseoAkia{
        display: none;
    }
    .image-terraza{
        position: relative;
        padding:  5% 5% 5% 5%;
    }
    .iconoVerde{
        max-width: 80px!important;
        height: auto;
        bottom:0px;
        left: 40%;
    }
    .iconoLinea{
        max-height: 70px;
        left: 50%;
        bottom: -10%;
    }
    .box-descri{
        padding: 5%;
    }

    .box-img-amenidad img{
        margin-bottom: 8%;
    }

    /*Responsive Galeria*/
    .galery{
        width: 100%;
        grid-template-columns: 1fr 1fr;
      }
    
      .galery .uno {
        grid-column: span 2;
        grid-row: span 2;
      }
      .dos {
        grid-column: span 2;
      }
      .galery .tres{
        grid-column: span 1;
        grid-row: span 1;
      }
      .cuatro{
        grid-row: span 2;
      }
      .cinco{
        grid-column: span 1;
      }
      .galery .seis{
        grid-column: span 1;
        grid-row: span 1;
      }

      .box-ubicacion{
        padding: 0px;
        padding-bottom: 4%;
      }
}