<form class="form">
    <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Telefono</label>
      <input type="number" class="form-control" id="exampleInputEmail1" >
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1" >
            <option value="" >-Motivo de contacto-</option>
            <option value="">Renta de locales comerciales</option>
            <option value="">Renta de espacios publicitarios</option>
            <option value="">Comentarios</option>
            <option value="">Quejas</option>
        </select>
    </div>
    <div class="caja-boton">
        <button class="btn btn-enviar">Enviar Solicitud</button>
    </div>
    
</form> 

