<footer class="footer">
    <div class="col1">
        <p>¿Quieres enterarte de nuestras novedades? Suscribete a newsletter</p>
        <div class="field-input-btn">
                <input type="text" class="form-control input" placeholder="example@mail.com" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-secondary btn-boton" type="button" id="button-addon2">Suscribirme</button>
                </div> 
        </div>
    </div>    

    <div class="col2">
        <ul class="list-unstyled quick-links">
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Inicio</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Entretenimiento</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Restaurante</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Familia Akia</a></li>
        </ul>
    </div>
    <div class="col3">
        <ul class="list-unstyled quick-links">
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Noticias</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Tiendas</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Contacto</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Terraza</a></li>
        </ul>
    </div>

    <div class="logo">
        <img class="img-log-kia"  src="../../../../assets/Akia blanco 2.png" alt="logo Akia">
    </div>
    <div class="redes">
        <img class="facebook" src="../../../../assets/FacebookB.png" alt="">
        <img class="instagram" src="../../../../assets/instagramB.png" alt="">
    </div>
   
    <p class="copyright">Copyright © 2021</p>
</footer>