<div class="container-shop">
    <button class="boton" style="border:0;background-color: transparent;display: inline;" mat-button mat-dialog-close><i class="fas fa-times"></i></button>
   <h2>NAme Tienda eknkde jass ggg</h2>
   <hr>
   <div class="datos">
       <div class="ubicacion">
           <span>Ubicación:</span>
           <label for="">Planta baja 2</label>
       </div>
       <div class="horarios">
        <span>Horarios:</span>
        <label for="">8am - 12pm todos los días</label>
       </div>
       <div class="categoria">
            <span>Categoria:</span>
            <label for="">Entretenimiento</label>
       </div>
       <div class="telefonos"></div>
   </div>
   <div class="g-productos">
       <p>dddd</p>
       <p>ssss</p>
       <p>hhffffff</p>
       <p>wewewed mferj</p>
   </div>
</div>
